.dot
    animation: 3s infinite linear

.dot1A { animation-name: diagonal-dot1A }
@keyframes diagonal-dot1A {
  0% { background: #282D30 }
  24.19% { background: #E8E8E8 }

  50% { background: #E8E8E8 }
  74.19% { background: #282D30 }
}

.dot1B { animation-name: diagonal-dot1B }
@keyframes diagonal-dot1B {
  3.22% { background: #282D30 }
  27.41% { background: #E8E8E8 }

  53.22% { background: #E8E8E8 }
  77.41% { background: #282D30 }
}

.dot1C { animation-name: diagonal-dot1C }
@keyframes diagonal-dot1C {
  6.45% { background: #282D30 }
  30.64% { background: #E8E8E8 }

  56.45% { background: #E8E8E8 }
  80.64% { background: #282D30 }
}

.dot2A { animation-name: diagonal-dot2A }
@keyframes diagonal-dot2A {
  9.67% { background: #282D30 }
  33.87% { background: #E8E8E8 }

  59.67% { background: #E8E8E8 }
  83.87% { background: #282D30 }
}

.dot2B { animation-name: diagonal-dot2B }
@keyframes diagonal-dot2B {
  12.9% { background: #282D30 }
  37.09% { background: #E8E8E8 }

  62.9% { background: #E8E8E8 }
  87.09% { background: #282D30 }
}

.dot2C { animation-name: diagonal-dot2C }
@keyframes diagonal-dot2C {
  16.12% { background: #282D30 }
  40.32% { background: #E8E8E8 }

  66.12% { background: #E8E8E8 }
  90.32% { background: #282D30 }
}

.dot3A { animation-name: diagonal-dot3A }
@keyframes diagonal-dot3A {
  19.35% { background: #282D30 }
  43.54% { background: #E8E8E8 }

  69.35% { background: #E8E8E8 }
  93.54% { background: #282D30 }
}

.dot3B { animation-name: diagonal-dot3B }
@keyframes diagonal-dot3B {
  22.58% { background: #282D30 }
  46.77% { background: #E8E8E8 }

  72.58% { background: #E8E8E8 }
  96.77% { background: #282D30 }
}

.dot3C { animation-name: diagonal-dot3C }
@keyframes diagonal-dot3C {
  25.8% { background: #282D30 }
  50% { background: #E8E8E8 }

  75.8% { background: #E8E8E8 }
  100% { background: #282D30 }
}