.dot1A { animation: diagonal-dot1A 2300ms infinite }
@keyframes diagonal-dot1A { 0% { background: #282D30 }
32.6% { background: #E8E8E8 }
50% { background: #E8E8E8 }
82.6% { background: #282D30 } }
.dot2A { animation: diagonal-dot2A 2300ms infinite }
@keyframes diagonal-dot2A { 4.34% { background: #282D30 }
36.95% { background: #E8E8E8 }
54.34% { background: #E8E8E8 }
86.95% { background: #282D30 } }
.dot1B { animation: diagonal-dot1B 2300ms infinite }
@keyframes diagonal-dot1B { 4.34% { background: #282D30 }
36.95% { background: #E8E8E8 }
54.34% { background: #E8E8E8 }
86.95% { background: #282D30 } }
.dot3A { animation: diagonal-dot3A 2300ms infinite }
@keyframes diagonal-dot3A { 8.69% { background: #282D30 }
41.3% { background: #E8E8E8 }
58.69% { background: #E8E8E8 }
91.3% { background: #282D30 } }
.dot2B { animation: diagonal-dot2B 2300ms infinite }
@keyframes diagonal-dot2B { 8.69% { background: #282D30 }
41.3% { background: #E8E8E8 }
58.69% { background: #E8E8E8 }
91.3% { background: #282D30 } }
.dot1C { animation: diagonal-dot1C 2300ms infinite }
@keyframes diagonal-dot1C { 8.69% { background: #282D30 }
41.3% { background: #E8E8E8 }
58.69% { background: #E8E8E8 }
91.3% { background: #282D30 } }
.dot3B { animation: diagonal-dot3B 2300ms infinite }
@keyframes diagonal-dot3B { 13.04% { background: #282D30 }
45.65% { background: #E8E8E8 }
63.04% { background: #E8E8E8 }
95.65% { background: #282D30 } }
.dot2C { animation: diagonal-dot2C 2300ms infinite }
@keyframes diagonal-dot2C { 13.04% { background: #282D30 }
45.65% { background: #E8E8E8 }
63.04% { background: #E8E8E8 }
95.65% { background: #282D30 } }
.dot3C { animation: diagonal-dot3C 2300ms infinite }
@keyframes diagonal-dot3C { 17.39% { background: #282D30 }
50% { background: #E8E8E8 }
67.39% { background: #E8E8E8 }
100% { background: #282D30 } }